@media (max-width: 1440px) {
  .transport-item {
    flex-direction: column;
  }
  .transport-item a img {
    width: 100%;
    height: auto;
  }
  .transport-item {
    flex-direction: column;
    width: 100%;
  }
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 1024px) {
  .footer-container {
    padding: 80px 25px;
  }
  .feature {
    margin-left: 10px;
  }
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 768px) {
  /* HEADER-SECTION */
  header {
    flex-direction: column;
    align-items: center;
  }

  .header-content {
    margin-top: 10px;
    border-top: 1px solid black;
    text-align: center;
  }
  .header-content h1 {
    margin-top: 10px;
  }

  .header-buttons {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: center;
    margin: 15px;
    gap: 10px;
  }
  /* MAIN-SECTION */

  .hero-section {
    flex-direction: column;
    height: auto;
  }

  .hero-content {
    text-align: center;
  }

  .hero-content h1 {
    font-size: 40px;
  }

  .hero-content h2 {
    font-size: 30px;
  }

  .hero-content p {
    font-size: 14px;
  }
  /* TRANSPORT-ITEM */
  .transport-item {
    flex-direction: column;
    width: 100%;
  }
  .transport-item a img {
    width: 100%;
    height: auto;
    padding: 50px;
  }
  /* SERVICES */
  .service-item-container {
    flex-direction: column;
  }
  /* FAQ SECTION */
  .QNA-list {
    flex-direction: column;
  }
  .QNA-items {
    max-width: 100%;
  }
  /* CONTACT-SECTION */
  .contact-form {
    padding: 20px;
  }
  form .name {
    flex-direction: column;
    gap: 0;
  }
  /* FOOTER SECTION */
  .about {
    margin-right: 10px;
  }
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 480px) {
  /* HEADER SECTION MEDIA */

  .header-content h1 {
    font-size: 20px;
    margin-top: 10px;
  }
  .header-content p {
    font-size: 10px;
  }

  /* HERO SECTION MEDIA */

  .hero-content h3 {
    font-size: 30px;
  }

  .hero-content h2 {
    font-size: 25px;
  }
  .header-buttons {
    margin-bottom: 10px;
  }

  .hero-content p {
    font-size: 12px;
  }
  .hero-button .submit-btn {
    margin-top: 10px;
  }

  /* TRANSPORT SECTION MEDIA */

  .transport-item {
    flex-direction: column;
    width: 100%;
  }
  .transport-item a img {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  /* SERVICE SECTION MEDIA */

  .service-item-container {
    flex-direction: column;
  }
  .service-title h2 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  .service-title p {
    font-size: 12px;
  }
  .service-item {
    padding: 0;
    margin-top: 30px;
    line-height: 2;
  }
  .service-item i {
    font-size: 30px;
  }
  .service-item h2 {
    font-size: 23px;
  }
  .service-item p {
    font-size: 12px;
  }

  /* STAFF SECTION */
  .staff-title h2 {
    font-size: 30px;
  }
  .staff-title p {
    font-size: 12px;
  }

  /* FAQ-SECTION */
  .QNA-header h2 {
    font-size: 30px;
  }
  .QNA h3 {
    font-size: 16px;
  }
  .QNA p {
    font-size: 14px;
  }
  .QNA-items {
    padding: 5px 25px;
  }
  /* FOOTER-SECTION */
  .about-wrapper {
    flex-direction: column;
  }
  .feature {
    margin-top: 20px;
  }
  .subscribe {
    margin-top: 20px;
  }
  .subscribe-form .email-field {
    width: 100%;
  }
  .subscribe button {
    width: 100%;
  }
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
@media (max-width: 375px) {
  /* MAIN SECTION */
  .hero-content {
    width: 100%;
  }
  .hero-content h2 {
    font-size: 20px;
  }
  .hero-content h3 {
    font-size: 30px;
  }

  /* SERVICE SECTION */
  .service {
    padding: 40px 0px;
  }

  /* STAFF SECTION */
  .staff-title {
    padding: 20px 0;
  }
  .staff-member {
    margin-bottom: 10px;
  }
  .staff-member a img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  .staff-member p {
    font-size: 12px;
  }
  /* PRICING-SECTION */
  .pricing-section {
    padding: 40px 0;
  }
  .pricing-title h2 {
    font-size: 30px;
  }
  .pricing-title p {
    font-size: 12px;
  }
  .plan-header p {
    font-size: 35px;
  }
  .plan ul li span {
    font-size: 12px;
    line-height: 2.5;
  }
  /* CLIENT-SECTION */
  .client-container {
    padding: 50px 0px;
  }
  .client-title h2 {
    font-size: 40px;
  }
  .client-msg p {
    font-size: 12px;
    line-height: 1.8;
  }
  /* ARTICEL SECTION */
  .article-title h2 {
    font-size: 40px;
    font-weight: 200;
  }
  .article-detail h3 {
    font-size: 18px;
    font-weight: 200;
  }
  .article-detail p {
    font-size: 14px;
    font-weight: 100;
    line-height: 1.6;
  }
  /* CONTACT-SECTION */
  .contact-container {
    padding: 50px 0px;
  }
  form .send-btn {
    width: 100%;
  }
  .contact-title h2 {
    font-size: 40px;
  }
  .subscribe-form {
    flex-direction: column;
  }
  .subscribe-form .email-field {
    border-radius: 0%;
  }
  .subscribe button {
    height: 25px;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
  }
}
