* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-gray);
  padding: 10px;
}
.logo-container a {
  text-decoration: none;
}
.logo-container a span {
  color: #007bff;
  font-size: 32px;
  font-weight: 800;
}

.header-content h1 span {
  color: #007bff;
}

.header-content p {
  color: #999;
  font-size: 16px;
  font-weight: 200;
}

.header-buttons a {
  text-decoration: none;
}

.btn {
  padding: 10px 20px;
  border-radius: 10px;
}

.btn-primary {
  background-color: #007bff;
  color: var(--white);
}

.btn-secondary {
  background-color: #000;
  color: #fff;
}

/* Hero Section Styles */

.hero-section {
  display: flex;
  justify-content: space-between;
  background-image: url("./images/depot_hero_1.jpg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  padding: 20px;
  color: #fff;
}

.hero-content {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.hero-content h2 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 10px;
}

.hero-content h3 {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 15px;
  font-weight: lighter;
  margin-bottom: 10px;
  line-height: 2;
}
.hero-button {
  margin-top: 40px;
}
.hero-button .tracking-field {
  padding: 10px;
  border-radius: 15px;
  /* width: 500px; */
}
.hero-button .submit-btn {
  padding: 10px;
  border-radius: 15px;
  background-color: #007bff;
  color: #fff;
}

/* TRANSPORT ITEM STYLING */

.transport-item {
  margin: 80px auto;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.transport-item a img {
  width: 350px;
  height: 218px;
}
.transport-item h2 {
  color: #007bff;
  font-weight: 300;
  font-size: 25px;
  margin: 20px 0;
}
.transport-item p {
  color: #999;
  font-size: 16px;
  font-weight: 200;
  line-height: 2;
}

/* Service-section Styling */

.service {
  padding: 80px;
}
.service-section {
  background-color: #f7f5f5;
  text-align: center;
}
.service-title h2 {
  font-size: 50px;
  font-weight: 300;
  color: #007bff;
}
.service-title p {
  color: #999;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
}
.service-item {
  line-height: 2.5;
  padding: 50px;
}
.service-item i {
  font-size: 50px;
  color: #007bff;
}
.service-item h2 {
  font-size: 30px;
  font-weight: 300;
}
.service-item p {
  color: #999;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
}
.service-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

/* STAFF SECTION STYLES */
.staff-title {
  text-align: center;
  padding: 80px;
}
.staff-title h2 {
  font-size: 48px;
  color: #007bff;
  font-weight: 300;
}
.staff-title p {
  color: #999;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
}
.about-staff {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.staff-member {
  width: 350px;
  padding: 30px;
  text-align: center;
  border: 1px solid #c1bebe;
  border-radius: 10px;
  margin: 30px;
}
.staff-member a img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.staff-member h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 8px;
}
.staff-member span {
  font-size: 12px;
  color: #b8b8b8;
}
.staff-member p {
  font-size: 16px;
  line-height: 1.5;
  margin: 15px 0px;
  color: #939393;
  font-weight: 100;
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-links a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.social-links a i {
  background-color: #007bff;
  font-size: 15px;
  padding: 8px;
  margin: 3px;
  color: white;
  border-radius: 4px;
}

/* PRICING-PLAN-STYLING */
.pricing-section {
  background-color: #f7f5f5;
  padding: 112px 0px;
}
.pricing-title {
  text-align: center;
  margin-bottom: 30px;
}
.pricing-title h2 {
  color: #007bff;
  font-size: 48px;
  font-weight: 200;
}
.pricing-title p {
  color: #999;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
  margin-top: 10px;
}
.pricing-plan {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.plan {
  background-color: #fff;
  padding: 30px;
  margin: 30px 20px;
}
.plan-header {
  text-align: center;
  align-items: center;
}
.plan-header h2 {
  font-size: 28px;
  font-weight: 300;
}
.plan-header p {
  font-size: 48px;
  color: #007bff;
  font-weight: 300;
  padding: 20px;
}
.plan-header span {
  font-size: 16px;
  color: #ccc;
}
.plan ul {
  margin-bottom: 30px;
}
.plan ul li {
  list-style: none;
}
.plan ul li i {
  color: #7eb260;
  margin-right: 15px;
}
.plan ul li span {
  color: #999;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
  line-height: 3;
}
.buy-btn {
  width: 100%;
  text-align: center;
  margin: 20px 0px;
}
.btn-blue {
  width: 100%;
  text-align: center;
  margin: 20px 0px;
}
.plan .btn-blue a {
  background-color: #007bff;
}
.plan a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #6c757d;
  padding: 13px 20px;
  border-radius: 5px;
}
/* FAQ SECTION STYLING */
.QNA-section {
  padding: 100px 0px;
}
.QNA-header h2 {
  text-align: center;
  color: #007bff;
  font-size: 48px;
  font-weight: 200;
}
.QNA-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.QNA-items {
  max-width: 570px;
  padding: 25px;
}
.QNA h3 {
  font-size: 20px;
  font-weight: 200;
  margin-bottom: 20px;
}
.QNA p {
  font-size: 16px;
  font-weight: 100;
  line-height: 1.9;
  color: #939393;
  margin-bottom: 16px;
}

/* CLIENT SECTION */
.client-section {
  background-color: #f7f5f5;
}
.client-container {
  padding: 100px 0px;
}
.client-title h2 {
  text-align: center;
  color: #007bff;
  font-size: 48px;
  font-weight: 200;
  margin: 0px 0px 8px;
}
.clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.client-box {
  max-width: 370px;
  padding: 20px;
}
.client-msg {
  background-color: #fff;
  padding: 30px;
}
.client-msg p {
  font-size: 18px;
  font-weight: 100;
  line-height: 1.9;
  color: #000;
  font-family: "Georgia", Times, serif;
  font-style: italic;
}

.client-img img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: block;
  margin: 20px auto;
}
.client-img figcaption {
  font-size: 18px;
  font-weight: 100;
  text-align: center;
}

/* ARTICLE-SECTION */
.article-container {
  padding: 48px 0px;
}
.article-title h2 {
  text-align: center;
  color: #007bff;
  font-size: 48px;
  font-weight: 200;
  margin-bottom: 30px;
}
.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.article-box {
  max-width: 570px;
  padding: 25px;
}

.article-img img {
  border-radius: 6px;
  width: 100%;
}
.article-detail .date {
  font-size: 16px;
  color: #6c757d;
  font-weight: 100;
  margin: 16px 0px;
}
.article-detail h3 {
  font-size: 24px;
  font-weight: 200;
  color: #000;
  margin: 0px 0px 16px;
}
.article-detail p {
  font-size: 16px;
  font-weight: 100;
  line-height: 1.6;
  color: #939393;
  margin: 0px 0px 16px;
}
.article-detail a {
  font-size: 16px;
  color: #007bff;
  text-decoration: none;
  font-weight: 100;
  margin: 0px 0px 16px;
}
/* CONTACT-FORM STYLING */
.contact-section {
  background-color: #f7f5f5;
}
.contact-container {
  padding: 100px 0px;
}
.contact-title h2 {
  text-align: center;
  color: #007bff;
  font-size: 48px;
  font-weight: 200;
  margin-bottom: 30px;
}
.contact-form {
  max-width: 760px;
  margin: 0px auto;
}
form .name {
  display: flex;
  gap: 25px;
}
form .form-control {
  width: 100%;
  height: 55px;
  padding: 6px 12px;
  margin: 10px 0px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}
textarea {
  width: 100%;
  padding: 6px 12px;
  margin: 10px 0px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}
form .send-btn {
  width: 350px;
  background-color: #007bff;
  color: #fff;
  padding: 20px 48px;
  border: none;
  border-radius: 5px;
}

/* FOOTER-SECTION STYLING */
.footer-section {
  background-color: #333;
}
.footer-container {
  padding: 100px 0px;
}
.footer-row {
  max-width: 1140px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px auto;
}
.about-wrapper {
  display: flex;
  max-width: 570px;
}
.copyright p {
  text-align: center;
  padding: 48px 0px 0px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  max-width: 1140px;
  margin: 50px auto;
}
.footer-row h3 {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  margin: 0px 0px 24px;
}
.feature ul li {
  list-style: none;
  color: #ffffff80;
  font-weight: 100;
  line-height: 2;
}
.subscribe-form {
  display: flex;
  margin-top: 30px;
}
.subscribe-form .email-field {
  height: 55px;
  padding: 5px 25px;
  border: none;
  border-radius: 5px 0px 0px 5px;
}
.subscribe button {
  height: 55px;
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  border: none;
  border-radius: 0px 5px 5px 0px;
}
.subscribe .follow {
  margin: 30px 0px 15px;
}
.footer-container p {
  line-height: 1.6;
  color: #fff;
  font-weight: 100;
}
.subscribe a .fa-twitter,
.fa-instagram {
  padding: 0px 16px;
  color: #ffffff80;
}
.subscribe a .fa-facebook-f,
.fa-linkedin-in {
  padding: 0px 16px 0px 0px;
  color: #ffffff80;
}
.copyright span {
  color: #ffffff80;
}
