* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

/* Header Styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-gray);
  padding: 10px;
}
.logo-container a {
  text-decoration: none;
}
.logo-container a span {
  color: #007bff;
  font-size: 32px;
  font-weight: 800;
}

.header-content h1 span {
  color: #007bff;
}

.header-content p {
  color: #999;
  font-size: 16px;
  font-weight: 200;
}

.header-buttons a {
  text-decoration: none;
}

.btn {
  padding: 10px 20px;
  border-radius: 10px;
}

.btn-primary {
  background-color: #007bff;
  color: var(--white);
}

.btn-secondary {
  background-color: #000;
  color: #fff;
}

/* Hero Section Styles */

.hero-section {
  display: flex;
  justify-content: space-between;
  background-image: url("./images/depot_hero_1.jpg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  padding: 20px;
  color: #fff;
}

.hero-content {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}

.hero-content h2 {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 10px;
}

.hero-content h3 {
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 15px;
  font-weight: lighter;
  margin-bottom: 10px;
  line-height: 2;
}
.hero-button {
  margin-top: 40px;
}
.hero-button .tracking-field {
  padding: 10px;
  border-radius: 15px;
  /* width: 500px; */
}
.hero-button .submit-btn {
  padding: 10px;
  border-radius: 15px;
  background-color: #007bff;
  color: #fff;
}

/* TRANSPORT ITEM STYLING */

.transport-item {
  margin: 80px auto;
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.transport-item a img {
  width: 350px;
  height: 218px;
}
.transport-item h2 {
  color: #007bff;
  font-weight: 300;
  font-size: 25px;
  margin: 20px 0;
}
.transport-item p {
  color: #999;
  font-size: 16px;
  font-weight: 200;
  line-height: 2;
}

/* Service-section Styling */

.service {
  padding: 80px;
}
.service-section {
  background-color: #f7f5f5;
  text-align: center;
}
.service-title h2 {
  font-size: 50px;
  font-weight: 300;
  color: #007bff;
}
.service-title p {
  color: #999;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
}
.service-item {
  line-height: 2.5;
  padding: 50px;
}
.service-item i {
  font-size: 50px;
  color: #007bff;
}
.service-item h2 {
  font-size: 30px;
  font-weight: 300;
}
.service-item p {
  color: #999;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
}
.service-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

/* STAFF SECTION STYLES */
.staff-title {
  text-align: center;
  padding: 80px;
}
.staff-title h2 {
  font-size: 48px;
  color: #007bff;
  font-weight: 300;
}
.staff-title p {
  color: #999;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
}
.about-staff {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.staff-member {
  width: 350px;
  padding: 30px;
  text-align: center;
  border: 1px solid #c1bebe;
  border-radius: 10px;
  margin: 30px;
}
.staff-member a img {
  width: 130px;
  height: 130px;
  border-radius: 50%;
}
.staff-member h3 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 8px;
}
.staff-member span {
  font-size: 12px;
  color: #b8b8b8;
}
.staff-member p {
  font-size: 16px;
  line-height: 1.5;
  margin: 15px 0px;
  color: #939393;
  font-weight: 100;
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-links a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.social-links a i {
  background-color: #007bff;
  font-size: 15px;
  padding: 8px;
  margin: 3px;
  color: white;
  border-radius: 4px;
}

/* PRICING-PLAN-STYLING */
.pricing-section {
  background-color: #f7f5f5;
  padding: 112px 0px;
}
.pricing-title {
  text-align: center;
  margin-bottom: 30px;
}
.pricing-title h2 {
  color: #007bff;
  font-size: 48px;
  font-weight: 200;
}
.pricing-title p {
  color: #999;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
  margin-top: 10px;
}
.pricing-plan {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.plan {
  background-color: #fff;
  padding: 30px;
  margin: 30px 20px;
}
.plan-header {
  text-align: center;
  align-items: center;
}
.plan-header h2 {
  font-size: 28px;
  font-weight: 300;
}
.plan-header p {
  font-size: 48px;
  color: #007bff;
  font-weight: 300;
  padding: 20px;
}
.plan-header span {
  font-size: 16px;
  color: #ccc;
}
.plan ul {
  margin-bottom: 30px;
}
.plan ul li {
  list-style: none;
}
.plan ul li i {
  color: #7eb260;
  margin-right: 15px;
}
.plan ul li span {
  color: #999;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
  line-height: 3;
}
.buy-btn {
  width: 100%;
  text-align: center;
  margin: 20px 0px;
}
.btn-blue {
  width: 100%;
  text-align: center;
  margin: 20px 0px;
}
.plan .btn-blue a {
  background-color: #007bff;
}
.plan a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #6c757d;
  padding: 13px 20px;
  border-radius: 5px;
}
/* FAQ SECTION STYLING */
.QNA-section {
  padding: 112px 0px;
}
.QNA-header h2 {
  text-align: center;
  color: #007bff;
  font-size: 48px;
  font-weight: 200;
}
.QNA-list {
  display: flex;
  justify-content: center;
}
.QNA h3 {
  font-size: 20px;
  font-weight: 200;
}
.QNA p {
  font-size: 16px;
  color: #939393;
}
